<form #newBookShelveForm="ngForm" novalidate (ngSubmit)="addBook(newBookShelveForm)">   
  <div class="row  mt-2">
    <div class="col-md-3">
      <i class="fa fa-list-ol fa-1g" style="color: #FFD700"></i>
      <span class="ml-2">New BookShelve</span> 
    </div>
    <div class="col-md-6">
      <span class="mx-auto bg-danger text-white p-1 m-1" *ngIf="(formSubmitted && newBookShelveForm.invalid)">
        There are Validation Errors on the Form.
      </span>
    </div>
    <div class="col-md-3">
      <div class="pull-right">
        <button pButton type="submit" class="round-button bg-secondary" icon="fa fa-fw fa-floppy-o" label="Save"></button>

        <button pButton type="button" class="round-button bg-secondary ml-3" icon="fa fa-fw fa-times-circle-o" label="Close"
        (click)="goBack()"></button>
        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <hr class="my-2"/>
    </div>
  </div>

  <p-growl [(value)]="growlMsgs" [sticky]="true"></p-growl>
  
  <div class="form-group row">    
    <div class="col-md-2">
      <label for="shelveNameTxt" class="col-form-label mr-2" [ngClass]="{'text-danger':(formSubmitted && shelveName.invalid)}"> Name</label>
    </div>
    <div class="col-md-10" >
      <input type="text" pInputText class="form-control form-control-sm w-50" name="shelveNameTxt" placeholder="Name Of Shelve" 
      id="shelveNameTxt" required [(ngModel)]="bookShelveObj.shelveName" #shelveName="ngModel"
      [ngClass]="{'border-danger':(formSubmitted && shelveName.invalid)}"/>

      <span class="text-danger" *ngIf="(formSubmitted && shelveName.invalid)">
        <small *ngIf="shelveName.errors.required">Shelve Name is required</small>
      </span>
    </div> 

  </div>
  <div class="form-group row"> 
    <div class="col-md-2">
      <label for="shelveCodeTxt" class="col-form-label mr-2" [ngClass]="{'text-danger':(formSubmitted && shelveCode.invalid)}"> Code</label>
    </div>   

    <div class="col-md-10">
      <input type="text" pInputText class="form-control form-control-sm w-50" name="shelveCodeTxt" placeholder="Shelve Code (maximum of 3 xters)" 
      id="shelveCodeTxt" required [(ngModel)]="bookShelveObj.shelveCode" #shelveCode="ngModel" maxlength="3" minlength="2"
      [ngClass]="{'border-danger':(formSubmitted && shelveCode.invalid)}"/>

      <span class="text-danger" *ngIf="(formSubmitted && shelveCode.invalid)">
        <small *ngIf="shelveCode.errors.required">Shelve Code is required</small>
        <small *ngIf="shelveCode.errors.maxlength">Shelve Code cannot be more than 3 characters</small>
        <small *ngIf="shelveCode.errors.minlength">Shelve Code cannot be less than 3 characters</small>
      </span>

    </div> 
  </div>

  <div class="form-group row"> 
      <div class="col-md-2">
          <label for="shelveDescTxt" class="col-form-label mr-2" [ngClass]="{'text-danger':(formSubmitted && shelveDesc.invalid)}"> Description</label>
      </div> 
      <div class="col-md-10">
          <input type="text" pInputText class="form-control form-control-sm w-50" name="shelveDescTxt" placeholder="Description Of Shelve" 
          id="shelveDescTxt" required [(ngModel)]="bookShelveObj.description" #shelveDesc="ngModel" 
          [ngClass]="{'border-danger':(formSubmitted && shelveDesc.invalid)}"/>
    
          <span class="text-danger" *ngIf="(formSubmitted && shelveDesc.invalid)">
              <small *ngIf="shelveDesc.errors.required">Shelve Description is required</small>
          </span>
        </div>   
  </div>

  

    
<!---->

</form>